/* Import Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* Overall style */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Rubik", sans-serif;
}

body {
 background-color: #e8ecf4;
}

/* Style for main-container */
.main-container {
 width: 100vw;
 height: 100vh;
 display: flex;
}

/* Style for content */
.content {
 width: 58%;
 border-right: 2.5px solid #e8ecf4;
 background-color: #fff;
}

/* Style for smaller devices */ 
@media screen and (max-width: 800px) {
 .content {
  width: 70%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
 }

 .main-container {
  min-width: 800px;
 }
}

/* Style for telephones */
@media screen and (max-width: 480px) {

}